.ftg_blue {
  color: #49acff !important;
}
.jumbotron {
  background: url("../../Assets/images/home.png");
  background-repeat: no-repeat;
  background-color: #1c1e22;
  background-position: top;
  background-size: contain;
  border-radius: 0.3rem;
  margin-bottom: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.6);
  padding: 4rem 2rem;
}
.jumbotron_heading {
  color: #aaaaaa;
}
.badge_ftg {
  color: #fff;
  background-color: #4799eb;
}
.game_body {
  background: #32383e;
  color: #aaaaaa;
}
