.fixed_top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.navbar_logo {
  font-family: monospace;
  font-size: 15px;
  img {
    width: 70px;
    filter: drop-shadow(1px 1px 3px #1983e6ce);
  }
}
.btn_outline_ftg {
  color: #4799eb;
  border-color: #4799eb !important;
  height: -moz-fit-content;
  height: fit-content;
  background: transparent;
  font-size: 15px;
  border-radius: 7px;
  padding: 10px;
  text-decoration: none;
}
